*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


#head1{
    position: fixed;
    background-color: white;
    width: 1360px;
    border: 1px solid rgb(247, 243, 243);
    z-index: 1000;

    /* // background-color: aqua; */
    div{
        display: flex;
    }
    ul{
        padding: 20px;
        justify-content: space-between;
        display: flex;
        list-style-type: none;
        word-spacing: 5px;
        /* // flex-wrap: wrap; 
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: 50px 100px;
        // grid-template-columns: repeat(auto-fill, 100px);
        // position: absolute; */
        position: relative;
        
    }
    
    .head2:hover{
        a{
            text-decoration: none;
            color: red;
            background-color: black;
            /* // padding-top: 20px; */
            top: 10px;

        }   
    }
    nav{
        justify-content: space-between;
    }
    .head3{
        i{
            color: rgb(83, 54, 54);
        }
    }
    .head3:hover{
        i{
            color: rgb(196, 35, 35);
        }
    }
    .head2{
        word-spacing: 5px;
        a{
            text-decoration: none;
        }
    }
}
.M1{
    position: absolute;
    left: 100px;
    top: 250px;
    color: white;
    h1{
        font-size: 70px;
    }
    p{
        font-size: 20px;
    }
}
.M2{
    position: absolute;
    text-align: center;
    top: 650px;
    color: white;
    font-size: 20px;
    left: 250px;  
}
.M4{
    position: absolute;
    /* border: 4px solid black; */
    text-align: center;
    top: 1080px;
    height: 350px;
    width: 500px;
    right: 150px;  
    color: rgb(114, 104, 104); 
}

.M5{
    position: absolute;
    /* border: 4px solid black; */
    text-align: center;
    top: 1600px;
    height: 350px;
    width: 500px;
    left: 140px;
    color: rgb(114, 104, 104);
}
.M6{
    position: absolute;
    /* border: 4px solid black; */
    text-align: center;
    top: 2150px;
    height: 350px;
    width: 500px;
    right: 150px;
    color: rgb(114, 104, 104);
}
.M7{
    position: absolute;
    /* border: 4px solid black; */
    text-align: center;
    top: 2680px;
    height: 350px;
    width: 500px;
    left: 140px;
    color: rgb(114, 104, 104);
}

/* footer is start from here` */
#footer{
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 450px;
    background-color: rgb(228, 216, 202);
    .footer1{
        margin-top: 40px;
        text-decoration: none;
        width: 25%;
        word-spacing: 5px;
        margin-left: 40px;
        input{
        width: 290px;
        height: 50px;
        border-radius: 20px;
        border-color: white;
        }
    }
   .footer2{
        width: 25%;
        gap: 50px;
        margin-top: 40px;
        margin-left: 40px;
        a{
            color: black;
            text-decoration: none;
        }  
    }
    .footer2:hover{
        a{
            text-decoration: none;
            list-style-type: none;
            color: blue;
        }
    }
    .footer3{
        width: 25%;
        gap: 50px;
        margin-top: 40px;
        a{
            color: black;
            text-decoration: none;
        }
        
    }
    .footer3:hover{
        a{
            text-decoration: none;
            list-style-type: none;
            color: blue;
        }

    }
    .footer4{
        width: 25%;
        gap: 50px;
        margin-top: 40px;
        a{
            color: black;
            text-decoration: none;
        }
    }
    .footer4:hover{
        a{
            text-decoration: none;
            list-style-type: none;
            color: blue;
        }

    }
}
@media (max-width:450px){
    #head1{
        position: fixed;
        background-color: white;
        width: 100%;
        border: 1px solid rgb(247, 243, 243);
        z-index: 1000;
        i{
            display: none;
        }
    
        /* // background-color: aqua; */
        div{
            display: flex;
        }
        ul{
            padding: 20px;
            justify-content: space-between;
            display: flex;
            list-style-type: none;
            word-spacing: 5px;
            /* // flex-wrap: wrap; 
            // grid-template-columns: 1fr 1fr;
            // grid-template-rows: 50px 100px;
            // grid-template-columns: repeat(auto-fill, 100px);
            // position: absolute; */
            position: relative;
            
        }
    }    
    .M0{
        width: 100%;
    }
    .M1{
        position: absolute;
        left: 100px;
        top: 120px;
        color: white;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 15px;
        }
    }
    .M2{
        position: absolute;
        text-align: center;
        top: 270px;
        color: white;
        font-size: 10px;
        left: 40px;  
    }
    .M4{
        position: absolute;
        /* border: 4px solid black; */
        text-align: center;
        top: 410px;
        height: 350px;
        width: 38%;
        right: 50px;  
        color: rgb(161, 135, 135); 
        font-size: 7px;
    }
    
    .M5{
        position: absolute;
        /* border: 4px solid black; */
        text-align: center;
        top: 590px;
        height: 350px;
        width: 38%;
        left: 40px;
        color:  rgb(161, 135, 135);
        font-size: 7px;
    }
    .M6{
        position: absolute;
        /* border: 4px solid black; */
        text-align: center;
        top: 766px;
        height: 350px;
        width: 30%;
        right: 55px;
        color: rgb(161, 135, 135);
        font-size: 6px;
    }
    .M7{
        position: absolute;
        /* border: 4px solid black; */
        text-align: center;
        top: 950px;
        height: 350px;
        width: 30%;
        left: 50px;
        /* right: 80px; */
        color: rgb(161, 135, 135);
        font-size: 6.6px;
    }
    .footer1 input{
        display: none;
    }
}